/ {
    outputControl {
        compatible = "gpio-leds";
        dpBL: dpBL {
            label = "dpBL";
            gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
        };

        dpExt: dpExt {
            label = "dpExt";
            gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
        };

        dpOn: dpOn {
            label = "dpOn";
            gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
        };

        dpCS: dpCS {
            label = "dpCS";
            gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
        };
    };

    inputControl {
        compatible = "gpio-keys";
		sw0: sw0 {
			gpios = <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button switch 0";
		};
		sw1: sw1 {
			gpios = <&gpio1 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button switch 1";
		};
		sw2: sw2 {
			gpios = <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button switch 2";
		};
		sw3: sw3 {
			gpios = <&gpio1 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button switch 3";
		};
    };

    aliases {
        dpbl = &dpBL;
        dpext = &dpExt;
        dpon = &dpOn;
        dpcs = &dpCS;  
        sw0 = &sw0;
        sw1 = &sw1;
        sw2 = &sw2;
        sw3 = &sw3;
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&uart0 {
    status = "disabled";
};

&spi1 {
    compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
    /delete-property/ cs-gpios;          /* bỏ CS tự động */
    // cs-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
    lpm013m126a: lpm013m126a@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        label = "LPM013M126A";
        spi-max-frequency = <1000000>;
    };
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
				<NRF_PSEL(SPIM_MOSI, 0, 4)>,
				<NRF_PSEL(SPIM_MISO, 0, 5)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 6)>,
				<NRF_PSEL(SPIM_MOSI, 0, 4)>,
				<NRF_PSEL(SPIM_MISO, 0, 5)>;
			low-power-enable;
		};
	};
};